[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
mysqlclient = "*"
django-cors-headers = "*"
pillow = "*"
djangorestframework = "*"
djangorestframework-jwt = "==1.11.0"
pyjwt = "*"
django-rest-swagger = "*"
pyyaml = "*"
uritemplate = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "*"
